/** Large Screen
	Laptops & Desktops **/
@media (min-width:1200px)
{
}
@media (max-width:1320px)
{
}
/** Medium Screen
    Small Laptops **/
@media (min-width:992px)
{
    
}
/** Medium Screen
    Small Laptops **/
@media (max-width:1200px)
{
}
/** Small Screen
    Tablets **/
@media (max-width:992px)
{
    .header .nav
    {
        text-align: center;
    }
    .navbar-right
    {
        float: none !important;
    }
    .features .best-des .des-format ,.features .best-code .code-format
    {
        margin: 30;
    }
    
}
/** Small Screen
    Tablets **/
@media (min-width:768px)
{
}
/** Extra Small Screen
    Phones **/
@media (max-width:767px)
{
    .btu
    {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .features .best-des .des-format ,.features .best-code .code-format
    {
        margin: 0;
    }
    .features .best-des h2, .features .best-code h2
    {
        font-size: 35px;
    }
}
